@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #7eb2f2;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #536dfe;
}

::-webkit-scrollbar-thumb {
    background: #000;;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7eb2f2;
}


.smoothanimate{
    transition: all 1.5s;
}

/* #536dfe */
/* #ffffff */